{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audio Dog - Registro</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>

    <script src="{% static 'js/validar-rut.js' %}"></script>

    <script>
        $(function() {
          $("#btn") .on("click", function(){
            $("#form") .validate({
            rules:
              {
                email:
                  {
                    required: true,
                    email: true,
                    minlength: 8,
                    maxlength: 80
                  },
                number:
                  {
                    required: true,
                    digits: true,
                    minlength: 4,
                    maxlength: 10
                  }
              },
            messages:
              {
                email:
                  {
                    required: 'El campo es requerido',
                    email: 'El formato de email es incorrecto',
                    minlength: 'El minimo permitido son 8 caracteres',
                    maxlength: 'El maximo permitido son 80 caracteres'
                  },
                number:
                  {
                    required: 'El campo es requerido',
                    digits: 'Solo se aceptan digitos',
                    minlength: 'El minimo permitido son 2 digitos',
                    maxlength: 'El maximo permitido son 10 digitos'
                  }
              }
            });
          });
        });
    </script>

</head>

<body>
    <div class="container-fluid sitio">
        <div class="row">
            <div class="col-xs-12 col-md-4 logo">
                <a href="index.html"><img src="{% static 'img/logo1.png' %}" alt="Logo Audio Dog"></a>
            </div>

            <div class="col-xs-12 col-md-8 menu">
                <a href="/"><div class="opcion-volver">volver</div></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 principal reg">
                <div class="row">
                    <div class="col-xs-12 titulo-registro">
                        <h1>REGISTRO DE USUARIO</h1>
                    </div>
                </div>

                <div class="row cuadro-registro">
                    <div class="col-xs-12 col-md-6 form-registro">
                        <div class="row">
                            <div class="col-xs-12 reg-titulo">
                                <h3>Datos de registro - datos requeridos marcados con (*) -</h3>
                            </div>
                        </div>
                        <form method="POST" id="registroForm" action="/usuario_guardar/">

                            {% csrf_token %}

                            <div class="row parte">
                                <div class="col-xs-12 cuadro-input">

                                    <label for="nombre">Nombre completo *</label>
                                    <input type="text" class="input" name="nombre" id="nombre" minlength="3" maxlength="40" pattern="[áÁàÀéÉèÈíÍìÌóÓòÒúÚùÙa-zA-Z ]{3,40}"
                                    placeholder="Nombre completo (sólo letras, máx 40 caracteres)" title="Sólo letras están permitidas" autocomplete="off" validate required>

                                </div>
                            </div>


                            <div class="row parte">
                                <div class="col-xs-12 cuadro-input">

                                    <label for="alias">Username *</label>
                                    <input type="text" class="input" name="alias" id="alias" minlength="3" maxlength="40" pattern="[áÁàÀéÉèÈíÍìÌóÓòÒúÚùÙa-zA-Z ]{3,40}"
                                    placeholder="Alias (sólo letras, máx 40 caracteres)" title="Sólo letras están permitidas" autocomplete="off" validate required>

                                </div>
                            </div>

                            <div class="row parte">
                                <div class="col-xs-6 cuadro-input">

                                    <label for="run">Rut *</label>
                                    <input type="text" class="input" name="rut" id="rut" placeholder="Ej: 12.345.678-9"
                                    autocomplete="off" oninput="checkRut(this)" validate required>

                                </div>

                                <div class="col-xs-6 cuadro-input">

                                    <label for="correo">Correo *</label>
                                    <input type="email" class="input" name="correo" id="correo" placeholder="Ej: 123@yahoo.com"
                                    autocomplete="off" validate required>

                                </div>
                            </div>

                            <div class="row parte">
                                <div class="col-xs-6 cuadro-input">

                                    <label for="fechanacimiento">Fecha de nacimiento *</label>
                                    <input type="date" name="fechanacimento" min="1900-01-01" max="2001-01-01" title="Debes tener al menos 18 años"
                                    validate required>

                                </div>

                                <div class="col-xs-6 cuadro-input">

                                    <label for="telefono">Teléfono</label>
                                    <input type="tel" name="telefono" id="telefono" pattern="[0-9]{9}" placeholder="9 dígitos - Ej: 912345678" autocomplete="off">

                                </div>
                            </div>

                            <div class="row parte">

                                <div class="col-xs-6 cuadro-input">

                                    <label for="region">Región *</label>
                                    <select name="region" id="region" required onchange="getCiudad($(this).val())">
                                      {% for region in regiones %}
                                        <option value="{{ region.id }}">{{ region.region }}</option>
                                      {% endfor %}
                                    </select>

                                </div>

                                <div class="col-xs-6 cuadro-input">

                                    <label for="ciudad">Ciudad *</label>
                                    <select name="ciudad" id="ciudad" required>
                                          <option value="0">SELECCIONE REGIÓN</option>
                                    </select>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 disp">

                                        <label for="dispositivo">Dispositivos de interacción</label></br>
                                        <input type="checkbox" name="computador" value="1"> Computador<br>
                                        <input type="checkbox" name="movil" value="1"> Teléfono móvil<br>
                                        <input type="checkbox" name="tablet" value="1"> Tablet<br>
                                        <input type="checkbox" name="smarttv" value="1"> Smart TV<br>

                                </div>

                                <div class="col-xs-12 bot">
                                    <button type="submit">Envíar</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-xs-12 col-md-6 foto-registro">
                        <img src="{% static 'img/fondo_registro.jpg' %}" alt="Audio Dog">
                    </div>

                </div>
            </div>
        </div>

    </div>

{% block javascript %}

<script>

function getCiudad(regionId) {

  $.get(
    '{% url "ciudad_get" %}',
    {
      region_id : regionId,
    },
    function (data) {

      $("#ciudad select").html("");

      var opt="";
      $.each(
        data,
        function (i, v) {
          opt+='<option value="'+i+'">'+v+'</option>';

        }
      )

      if (Object.keys(data).length > 0) {
        $("#ciudad").html(opt).fadeIn();
      } else {
        $("#ciudad").html('<option value="0">REGIÓN SIN CIUDADES ASOCIADAS</option>').fadeIn();
      }

    }
  )
  .fail(
    function (jqXHR, textStatus, errorThrown) {

      alert(jqXHR.status+"\n"+textStatus+"\n"+errorThrown);

    }
  );

}

</script>

{% endblock %}

</body>

</html>
