*{
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #191e25;
    font-family: 'Montserrat', sans-serif;
}

.sitio{
    margin-top: 20px;
}

.menu{
    margin-top: 10px;
    font-size: 20px;
    justify-content: flex-end;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.logo{
    width: 320px;
    height: 45px;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

.opcion {
    width: 200px;
    height: 30px;
    background: #55575b;
    text-align: center;
    margin: 5px;
    margin-top: 0;
    justify-content: flex-end;
}

.opcion-volver{
    width: 400px;
    height: 30px;
    background: #55575b;
    text-align: center;
}

.opcion:hover{
    background: #292727;
}

.opcion-volver:hover{
    background: #292727;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover{
    text-decoration: none;
}

/*slider*/

.carousel{
    margin-top: 20px;
}

.principal{
    margin-top: 20px;
    height: 100%;
}

/*canciones*/

.cancion-titulo{
    background: #292727;
    height: 70px;
    text-align: center;
    padding: 10px;
    border: 2px solid #FFFFFF;
    font-style: bold;
}

.cancion-titulo h1{
    color: #ffffff;
    font-size: 28pt;
}

.cuadro-cancion{
    background: #292727;
    margin-top: 10px;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.cuadro-cancion .foto-cancion{
    padding: 10px;
    height: 250px;
}

.cuadro-cancion .foto-cancion .picture{
    background: #ffffff;
    width: 210px;
    height: 210px;
}

.cuadro-cancion .foto-cancion .picture img{
    width: 210px;
    height: 210px;
}

.cuadro-cancion .texto-cancion{
    padding: 10px;
    height: 250px;
}

.cuadro-cancion .texto-cancion .nombre-cancion{
    font-style: bold;
}

.cuadro-cancion .texto-cancion .nombre-cancion h1{
    font-size: 24pt;
}

.navegacion-canciones{
    height: 50px;
    background: #292727;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid #ffffff;
}

/*registro*/

.form-registro{
    background: #003a70;
}

.titulo-registro{
    background: #292727;
    height: 70px;
    text-align: center;
    padding: 10px;
    border: 2px solid #FFFFFF;
    font-style: bold;
}

.titulo-registro h1{
    color: #ffffff;
    font-size: 28pt;
}

.cuadro-registro{
    margin-top: 10px;
    color: #ffffff;
    border: 2px solid #ffffff;
    justify-content: center;
    background: #ffffff;
}

.foto-registro{
    width: 100%;
    height: 100%;
}

.cuadro-registro .foto-registro img{
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    margin-top: 2px;
}

/*datos registro*/

.reg-titulo{
    width: auto;
    height: 36px;
    background: #55575b;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
}

.parte{
    width: 100%;
    height: auto;
    margin-top: 4px;
}

form {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
    border-radius: 7px;
}

form label{
    font-size: 18px;
}

.cuadro-input{
    margin-bottom: 14px;
}

.cuadro-input input{
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}

label{
    font-size: 16px;
    color: #7ccee6;
}

button{
    width: 100%;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    background: #7ccee6;
}

button:hover{
    background: #35a0bf;
}

.bot{
    margin: 0;
    margin-top: 14px;
    padding: 5px;
    justify-content: center;
}




@media only screen and (max-width: 1024px) {
    .logo {
        margin-top: 45px;
        margin-bottom: 25px;
        padding-left: 35px;
        padding-right: 35px;
        width: auto;
        height: auto;
    }

    .menu {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .carousel{
        display: none;
    }

    .cuadro-cancion .foto-cancion .picture{
        width: 52px;
        height: 52px;
    }

    .cancion-titulo h1{
        font-size: 24pt;
    }

    .titulo-registro h1{
        font-size: 24pt;
    }

    .reg{
        margin-top: 25px;
    }

    .cuadro-registro .foto-registro{
        display: none;
    }

    form{
        max-width: 1024px;
    }

    .reg-titulo{
        font-size: 12px;
    }

    form label{
        font-size: 16px;
    }
}
